body {
  padding-top: 750px;
}
p {
  font-family: Roboto;
}
.welcome-content {
  display: flex;
}
.page-content {
  background-color: white;
  width: 100%;
  min-width: 1024px;
  height: 1500px;
  border-top-style: solid;
  border-top-color: rgb(155, 32, 32);
  border-top-width: 40px;
}

/* Intro du pays dans l'acceuil*/
.country-description {
  margin: 0px;
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: rgb(155, 32, 32);
  border-bottom-width: 40px
}
.country-description-top {
  margin: 0px;
  padding: 0px;

  display: inline-flex;
  flex-direction: row;
  width: 1000px;
}
.country-icons {
  width: 64px;
  margin-bottom: 40px;
}
.country-icons-text {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 40px;
  display: inline-block;
}
.country-description-left {
  margin: 0px;
  padding: 0px;
  flex: 1;
  display: inline-block;

  height: 500px;
}
.country-text-left {
  margin: 0;
  padding: 0;
  display: block;
  height: 250px;
}
.country-name-left {
  margin: 0;
  padding: 0;
  font-size: 56px;
  font-family: Roboto;
  display: block;
}
.country-intro-left {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 24px;
}
.country-icons-left {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.country-icons-right {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.country-icon-demography-left {
  display: flex;
  align-items: center;
}
.country-icon-geography-left {
  display: flex;
  align-items: center;
}
.country-icon-economy-right {
  display: flex;
  align-items: center;
}
.country-icon-politics-right {
  display: flex;
  align-items: center;
}
.country-description-right {
  margin: 0px;
  padding: 0px;
  flex: 1;
  display: inline-block;
  
}
.country-flag-right {
  width: 500px;
}
.country-description-bottom {
  margin: 0px;
  padding: 0px;

  display: block;
}
.country-more-info-button {
  border: none;
  border-radius: 30px;
  background-color:rgb(25, 25, 25);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
/* problemes dans lacceuil*/

.city-problems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  padding: 40px;
  background-color: rgb(25, 25, 25);
}
.poor-problem {
  width: 300px;
  margin-right: 20px;
  background-color: rgb(45, 45, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.political-problem {
  width: 300px;
  margin-right: 20px;
  background-color: rgb(45, 45, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.corruption-problem {
  width: 300px;
  margin-right: 20px;
  background-color: rgb(45, 45, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.migration-problem {
  width: 300px;
  background-color: rgb(45, 45, 150);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-problem {
  color: white;

  width: 100%;
  text-align: center;

  font-size: 36px;
}
.image-problem {
  color: black;
}
.intro-problem {
  color: white;
  text-align: center;
  font-size: 18px;
  width: 80%;
}
.more-info-button {
  color: black;
  background-color: white;
  font-size: 24px;
  border: none;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}